# Streamlit secrets
.streamlit/secrets.toml

# Environment
.env
venv/
*.pyc
*.pyo
*.pyd
*.pyz
__pycache__/
*.egg-info/

# Keys/credentials
*.key
*.pem
*.ppk
*.toml (except if needed)

# Logs/temp
*.log
*.tmp
*.cache

app.py.bak
bfg-1.15.0.jar
desktop.ini
heroku/client/
requirements.txt.txt