altair==5.5.0
appdirs==1.4.4
attrs==25.3.0
backoff==2.2.1
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
curl_cffi==0.12.0
dateparser==1.2.2
decorator==5.2.1
fredapi==0.5.2
frozendict==2.4.6
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lxml==6.0.0
MarkupSafe==3.0.2
multitasking==0.0.11
narwhals==1.47.0
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pandas-datareader==0.10.0
peewee==3.18.2
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
protobuf==6.31.1
pyarrow==20.0.0
pycparser==2.22
pydeck==0.9.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rpds-py==0.26.0
shelved-cache==0.3.1
six==1.17.0
smmap==5.0.2
soupsieve==2.7
streamlit==1.46.1
tabulate==0.8.10
tenacity==9.1.2
toml==0.10.2
tornado==6.5.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
watchdog==6.0.0
wbdata==1.0.0
websockets==15.0.1
yfinance==0.2.65
